.App {
  text-align: center;
}

.repositories-result ul {
  list-style-type: none;
}

.rendered-repos li {
  border: solid;
  padding: 1rem;
  margin: 0.5rem;
}

.repo-details {
  border: solid;
  padding: 3rem;
  margin: 1rem;
}

.avatar img {
  max-width: 4rem;
  max-height: 4rem;
}

.avatar-detail img {
  max-width: 7rem;
  max-height: 7rem;
}

.render-readme ul {
  list-style-type: none;
  text-align: center;
}